$text-black: #3c4f5d;
$text-grey: #5C6C81;
$white: #ffffff;
$primary-blue: #0062b0;
$primary-blue-hover: #2889d6;
$dark-blue: #004c99;
$secondary-blue: #C1EBFF;
$form-border-blue: #BFD8EB;
$primary-form-border-blue: #2889d6;
$background-primary-blue: #f0fcff;
$error-primary: #f44336;
$map-marker: #B04E00;
$gray-header: #eff2f5;
$primary-text-color: #022e5f;

$t: rgba(0, 98, 176, 0.47)
