<div class="page">
  <div class="w-100">
    <app-header></app-header>
  </div>
  <div class="corps">

  </div>
  <div class="menu-bootom w-100">
    <div class="item-menu-bottom">
      <img src="icons/blue/profile.svg" alt="">
      <span>Utilisateurs</span>
    </div>
    <div class="item-menu-bottom">
      <img src="icons/blue/plus2.svg" alt="">
      <span>Nouveau</span>
    </div>
    <div class="item-menu-bottom">
      <img src="icons/blue/scan.svg" alt="">
      <span>Gestion des droits</span>
    </div>
    <div class="item-menu-bottom">
      <img src="icons/blue/scan.svg" alt="">
      <span>Liste utilisateurs</span>
    </div>
  </div>
</div>
