.data-chart{
  width: 100% !important;
  //height: auto !important;
  background: none !important;
  min-height: 0;
  margin: auto;
}

@media (min-width: 1281px) {

  .data-chart{
    width: 90% !important;
    height: 90% !important;
    background: none !important;
  }

}
