.data-chart{
  width: 100% !important;
  height: 100% !important;
  background: none !important;
}

@media (min-width: 1281px) {

  .data-chart{
    width: 90% !important;
    height: 90% !important;
    background: none !important;
  }

}
